@model NhomXingfa.Models.ProductViewModel
@using NhomXingfa.Areas.Quantri.Utilities

<section class="cat_product_area section_gap">
    <div class="container">
        <div class="row flex-row-reverse">
            <div class="col-lg-9">
                <div class="product_top_bar">
                    <div class="left_dorp">
                        <select class="sorting">
                            <option value="1">Theo mặc định</option>
                            <option value="2">Theo giá cao tới thấp</option>
                            <option value="3">Theo giá thấp tới cao</option>
                        </select>
                        <select class="show">
                            <option value="1">Hiển thị 12 sản phẩm</option>
                            <option value="2">Show 14</option>
                            <option value="4">Show 16</option>
                        </select>
                    </div>
                </div>

                <div class="latest_product_inner">
                    <div class="row">

                        @foreach (var q in Model.product)
                        {
                            <div class="col-lg-4 col-md-6">
                                <div class="single-product">
                                    <div class="product-img">
                                        <img class="card-img"
                                             src="@WebConstants.ImgProductShow/@q.Images"
                                             alt="" />
                                        <div class="p_icon">
                                            <a href="#">
                                                <i class="ti-eye"></i>
                                            </a>
                                            <a href="#">
                                                <i class="ti-heart"></i>
                                            </a>
                                            @*<a href="#">
                                                <i class="ti-shopping-cart"></i>
                                            </a>*@
                                        </div>
                                    </div>
                                    <div class="product-btm">
                                        <a href="/chi-tiet-san-pham/@q.SEOUrlRewrite-@q.ProductID" class="d-block">
                                            <h4>@q.ProductName</h4>
                                        </a>
                                        <div class="mt-3">
                                            <span class="mr-4">@q.PriceSale</span>
                                            <del>@q.Price</del>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }


                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="left_sidebar_area">
                    <aside class="left_widgets p_filter_widgets">
                        <div class="l_w_title">
                            <h3>Danh mục sản phẩm</h3>
                        </div>
                        <div class="widgets_inner">
                            <ul class="list">
                                @foreach (var q in Model.categories)
                                {
                                    @*if (q.Parent == 0)
                                    {
                                        <li>
                                            <a href="/san-pham/@q.SEOUrlRewrite-@q.CategoryID"><span class="text-danger"><b>@q.CategoryName</b></span></a>
                                        </li>
                                    }
                                    else
                                    {*@
                                        <li>
                                            <a href="/san-pham/@q.SEOUrlRewrite-@q.CategoryID">@q.CategoryName</a>
                                        </li>
                                    @*}*@
                                }                              
                            </ul>
                        </div>
                    </aside>

                    

                    


                </div>
            </div>
        </div>
    </div>
</section>
