@using System.Configuration
@using NhomXingfa.Areas.Quantri.Models
@using NhomXingfa.Areas.Quantri.Utilities
@using NhomXingfa.Models
@model ProjectViewModel
@{
    ViewBag.Title = Model.detail.ProductName;
    Layout = "~/Views/Shared/_Layout.cshtml";
    Helpers h = new Helpers();
    int i = 0;
    int m = 0;
}
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content d-md-flex justify-content-between align-items-center">
                <div class="mb-3 mb-md-0">
                    <h2>@Model.detail.ProductName</h2>

                </div>
                <div class="page_link">
                    <a href="/">Trang chủ</a>

                    <a href="javascript:">Dự án</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="blog_area single-post-area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post">
                    @*<div class="feature-img">
                            <img class="img-fluid" src="img/blog/main-blog/m-blog-1.jpg" alt="">
                            <div class="s_product_img">
                                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="">
                                            <img src="~/img/blog/main-blog/m-blog-2.jpg" alt="">
                                        </li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="1" class="">
                                            <img src="~/img/blog/main-blog/m-blog-1.jpg" alt="">
                                        </li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="2" class="active">
                                            <img src="~/img/blog/main-blog/m-blog-1.jpg" alt="">
                                        </li>
                                    </ol>
                                    <div class="carousel-inner">
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="~/img/product/single-product/s-product-1.jpg" alt="First slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="~/img/product/single-product/s-product-1.jpg" alt="Second slide">
                                        </div>
                                        <div class="carousel-item active">
                                            <img class="d-block w-100" src="~/img/product/single-product/s-product-1.jpg" alt="Third slide">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>*@

                    <div class="s_product_img">
                        <div id="carouselExampleIndicators"
                             class="carousel slide"
                             data-ride="carousel">
                            <ol class="carousel-indicators">
                                @foreach (var q in Model.lstImages)
                                {
                                    if (i == 0)
                                    {
                                        <li data-target="#carouselExampleIndicators"
                                            data-slide-to="@i"
                                            class="active">
                                            <img src="@WebConstants.ImgProductShow/@q.URLImage"
                                                 alt="" />
                                        </li>
                                    }
                                    else
                                    {
                                        <li data-target="#carouselExampleIndicators"
                                            data-slide-to="@i"
                                            class="">
                                            <img src="@WebConstants.ImgProductShow/@q.URLImage"
                                                 alt="" />
                                        </li>
                                    }
                                    i++;
                                }

                            </ol>
                            <div class="carousel-inner">
                                @foreach (var q in Model.lstImages)
                                {
                                    if (m == 0)
                                    {
                                        <div class="carousel-item active">
                                            <img class="d-block w-100"
                                                 src="@WebConstants.ImgProductShow/@q.URLImage"
                                                 alt="First slide" />
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="carousel-item">
                                            <img class="d-block w-100"
                                                 src="@WebConstants.ImgProductShow/@q.URLImage"
                                                 alt="First slide" />
                                        </div>
                                    }
                                    m++;
                                }

                            </div>
                        </div>
                    </div>

                    <div class="blog_details">
                        @*<h2>
                                Second divided from form fish beast made every of seas
                                all gathered us saying he our
                            </h2>*@
                        <ul class="blog-info-link mt-3 mb-4">
                            <li><a href="#"><i class="ti-user"></i> @Model.detail.User.UserName</a></li>
                            <li><a href="#"><i class="ti-time"></i> @Convert.ToDateTime(Model.detail.Created).ToString(WebConstants.DateFormatVI)</a></li>
                            <li><a href="#"><i class="ti-comments"></i> @Model.detail.CountView Lượt xem</a></li>

                        </ul>

                        <p>
                            @Html.Raw(Model.detail.Content)
                        </p>

                    </div>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title">Dự Án khác</h3>
                        @if (Model.lstProjects1.Count > 0)
                        {
                            foreach (var k in Model.lstProjects1)
                            {
                                <div class="media post_item">
                                    <img src="@WebConstants.imgNewsURLShow/@k.Images" style="width:80px" alt="post">
                                    <div class="media-body">
                                        <a href="single-blog.html">
                                            <h3>
                                                @k.ProductName
                                                @*@shortString  ...*@
                                            </h3>
                                        </a>
                                        <p>@Convert.ToDateTime(Model.detail.Created).ToString(WebConstants.DateFormatVI)</p>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="media post_item">
                                Not Found
                            </div>
                        }



                    </aside>

                    <aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title">Sản phẩm</h4>
                        <ul class="list cat-list">
                            @foreach (var j in Model.lstCategory)
                            {
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>@j.CategoryName</p>
                                        <p> (@h.CountTotalSP(j.CategoryID))</p>
                                    </a>
                                </li>
                            }

                        </ul>
                    </aside>


                    <aside class="single_sidebar_widget tag_cloud_widget">
                        <h4 class="widget_title">Từ khóa</h4>
                        <ul class="list">
                            <li>
                                <a href="#">Nhôm kính</a>
                            </li>
                            <li>
                                <a href="#">Nhôm Xingfa</a>
                            </li>

                            <li>
                                <a href="#">Kính Cường lực</a>
                            </li>
                            <li>
                                <a href="#">Nhôm Việt Nam</a>
                            </li>
                            <li>
                                <a href="#">Mặt dựng</a>
                            </li>
                            <li>
                                <a href="#">Xingfa Bình Dương</a>
                            </li>
                            <li>
                                <a href="#">Nhôm kính giá rẻ</a>
                            </li>
                        </ul>
                    </aside>

                </div>
            </div>
        </div>
    </div>
</section>


@section scripts
{
    <script>
        $(document).ready(function () {

            $(".pull-right li").removeClass("active");

            $(".pull-right li#menuda").addClass("active");

        });
    </script>
}
