@using NhomXingfa.Models
@model IndexViewModels
@{
    ViewBag.Title = "Home Page";
}

<div class="banner-silder">
    <div id="JiSlider" class="jislider">
        <ul>
            @foreach (var i in Model.lstHomeBanner)
            {
                <li>
                    <div class="w3layouts-banner-top">

                        <div class="container">
                            <div class="agileits-banner-info">

                                <h3>@i.Slogun1</h3>
                                <p>@i.Slogun2</p>
                                <div class="more">
                                    <a href="@i.LinkBanner" class="hvr-shutter-in-vertical" data-toggle="modal" data-target="#myModal">Xem thêm <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            }

            @*<li>
                <div class="w3layouts-banner-top w3layouts-banner-top1">
                    <div class="container">
                        <div class="agileits-banner-info">

                            <h3>Best Business Support</h3>
                            <p>Planning Your Dream</p>
                            <div class="more">
                                <a href="#" class="hvr-shutter-in-vertical" data-toggle="modal" data-target="#myModal">Read More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="w3layouts-banner-top w3layouts-banner-top2">
                    <div class="container">
                        <div class="agileits-banner-info">

                            <h3>Business Consultancy </h3>
                            <p>Grow Your Business.</p>
                            <div class="more">
                                <a href="#" class="hvr-shutter-in-vertical" data-toggle="modal" data-target="#myModal">Read More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                            </div>
                        </div>

                    </div>
                </div>
            </li>*@

        </ul>
    </div>
</div>

<!-- //banner -->
<!-- Modal1 -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>

                <div class="signin-form profile">
                    <h3 class="agileinfo_sign">Sign In</h3>
                    <div class="login-form">
                        <form action="#" method="post">
                            <input type="email" name="email" placeholder="E-mail" required="">
                            <input type="password" name="password" placeholder="Password" required="">
                            <div class="tp">
                                <input type="submit" value="Sign In">
                            </div>
                        </form>
                    </div>
                    <div class="login-social-grids">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        </ul>
                    </div>
                    <p><a href="#" data-toggle="modal" data-target="#myModal3"> Don't have an account?</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //Modal1 -->
<!-- Modal2 -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>

                <div class="signin-form profile">
                    <h3 class="agileinfo_sign">Sign Up</h3>
                    <div class="login-form">
                        <form action="#" method="post">
                            <input type="text" name="name" placeholder="Username" required="">
                            <input type="email" name="email" placeholder="Email" required="">
                            <input type="password" name="password" placeholder="Password" required="">
                            <input type="password" name="password" placeholder="Confirm Password" required="">
                            <input type="submit" value="Sign Up">
                        </form>
                    </div>
                    <p><a href="#"> By clicking register, I agree to your terms</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //Modal2 -->
<!-- Modal2 -->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>

                <div class="signin-form profile">

                    <div class="login-form">
                        <form action="#" method="post">
                            <input type="text" name="name" placeholder="Username" required="">
                            <input type="email" name="email" placeholder="Email" required="">
                            <input type="password" name="password" placeholder="Password" required="">
                            <input type="text" name="subject" placeholder="Subject" required="">
                            <textarea name="Comments" placeholder="Message" required=""></textarea>
                            <input type="submit" value="SUBMIT">
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- //Modal2 -->
<!-- bootstrap-pop-up -->
<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <section>
                <div class="modal-body">
                    <h5>Consultancy</h5>
                    <img src="images/2.jpg" alt=" " class="img-responsive" />
                    <p>
                        Ut enim ad minima veniam, quis nostrum
                        exercitationem ullam corporis suscipit laboriosam,
                        nisi ut aliquid ex ea commodi consequatur? Quis autem
                        vel eum iure reprehenderit qui in ea voluptate velit
                        e.
                        <i>
                            " Quis autem vel eum iure reprehenderit qui in ea voluptate velit
                            esse quam nihil molestiae consequatur.
                        </i>
                    </p>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- //bootstrap-pop-up -->
<!-- about -->
<div class="inner_main_agile_section">
    <div class="container">
        <h6>Giá trị tạo nên sự khác biệt</h6>
        <h3 class="w3l_header w3_agileits_header">Giới thiệu về <span>Tân Thời</span></h3>
        <p class="sub_para_agile two">Chất lượng là phương châm để chúng tôi tồn tại</p>

        
        @Html.Raw(@Model.blogGioiThieu.Content)
    </div>
</div>
<!-- //about -->

<!-- banner-bottom -->
<div class="banner-bottom">
    <div class="container">
        <h2> Sản phẩm Nổi bật </h2>
        <p class="sub_para_agile"> <a href="">Xem tất cả</a> </p>

        @Html.Partial("_sanPhamNoiBat", Model.lstProductNoibat)
        @Html.Partial("_duAnTieuBieu", Model.lstProductNoibat)
        <div class="container">

            <h2>  Dự án </h2>

            <div class="agileits_banner_bottom_grids">
                <div class="col-md-3 agileits_banner_bottom_grid">
                    <div class="hovereffect w3ls_banner_bottom_grid">
                        <img src="~/images/1.jpg" alt=" " class="img-responsive">
                        <div class="overlay">
                            <h4>Consultancy</h4>
                            <p>Project</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 agileits_banner_bottom_grid">
                    <div class="hovereffect w3ls_banner_bottom_grid">
                        <img src="~/images/2.jpg" alt=" " class="img-responsive">
                        <div class="overlay">
                            <h4>Consultancy</h4>
                            <p>Project</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 agileits_banner_bottom_grid">
                    <div class="hovereffect w3ls_banner_bottom_grid">
                        <img src="~/images/3.jpg" alt=" " class="img-responsive">
                        <div class="overlay">
                            <h4>Consultancy</h4>
                            <p>Project</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 agileits_banner_bottom_grid">
                    <div class="hovereffect w3ls_banner_bottom_grid">
                        <img src="~/images/4.jpg" alt=" " class="img-responsive">
                        <div class="overlay">
                            <h4>Consultancy</h4>
                            <p>Project</p>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="agileits_banner_bottom_grids two">
                <div class="col-md-3 agileits_banner_bottom_grid">
                    <div class="hovereffect w3ls_banner_bottom_grid">
                        <img src="~/images/5.jpg" alt=" " class="img-responsive">
                        <div class="overlay">
                            <h4>Consultancy</h4>
                            <p>Project</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 agileits_banner_bottom_grid">
                    <div class="hovereffect w3ls_banner_bottom_grid">
                        <img src="~/images/6.jpg" alt=" " class="img-responsive">
                        <div class="overlay">
                            <h4>Consultancy</h4>
                            <p>Project</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 agileits_banner_bottom_grid">
                    <div class="hovereffect w3ls_banner_bottom_grid">
                        <img src="~/images/7.jpg" alt=" " class="img-responsive">
                        <div class="overlay">
                            <h4>Consultancy</h4>
                            <p>Project</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 agileits_banner_bottom_grid">
                    <div class="hovereffect w3ls_banner_bottom_grid">
                        <img src="~/images/8.jpg" alt=" " class="img-responsive">
                        <div class="overlay">
                            <h4>Consultancy</h4>
                            <p>Project</p>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>

    </div>
    <!-- /blog -->
    
    <!-- //blog -->
</div>
<!-- //banner-bottom -->

<!-- services -->
<div class="services" id="services">
    <div class="container">
        <h3 class="w3l_header w3_agileits_header two"><span>Dịch vụ của chúng tôi</span></h3>
        <p class="sub_para_agile two">Sự chọn lựa cân bằng giữa chất lượng hàng đầu và giá cả hợp lý</p>

        <div class="agile_inner_grids">

            <!-- choose icon -->
            <div class="col-md-6 choose_icon">
                <div class="choose_left">
                    <i class="fa fa-bar-chart" aria-hidden="true"></i>
                </div>
                <div class="choose_right">
                    <h3>TƯ VẤN THIẾT KẾ </h3>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry.sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>

            <!-- choose icon -->
            <div class="col-md-6 choose_icon">
                <div class="choose_left">
                    <i class="fa fa-bullhorn" aria-hidden="true"></i>
                </div>
                <div class="choose_right">
                    <h3>THI CÔNG LẮP ĐẶT</h3>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry.sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>

            <!-- choose icon -->
            <div class="col-md-6 choose_icon">
                <div class="choose_left">
                    <i class="fa fa-user-secret" aria-hidden="true"></i>
                </div>
                <div class="choose_right">
                    <h3>Báo giá</h3>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry.sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-6 choose_icon">
                <div class="choose_left">
                    <i class="fa fa-laptop" aria-hidden="true"></i>
                </div>
                <div class="choose_right">
                    <h3>Bảo hành</h3>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry.sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //services -->
<!-- stats -->
<div class="stats" id="stats">
    <div class="container">
        <div class="inner_w3l_agile_grids">
            <div class="col-md-3 w3layouts_stats_left w3_counter_grid">
                <i class="fa fa-laptop" aria-hidden="true"></i>
                <p class="counter">150</p>
                <h3>Đối tác</h3>
            </div>
            <div class="col-md-3 w3layouts_stats_left w3_counter_grid1">
                <i class="fa fa-smile-o" aria-hidden="true"></i>
                <p class="counter">250</p>
                <h3>Hoàn thiện</h3>
            </div>
            <div class="col-md-3 w3layouts_stats_left w3_counter_grid2">
                <i class="fa fa-trophy" aria-hidden="true"></i>
                <p class="counter">563</p>
                <h3>Dự án</h3>
            </div>
            <div class="col-md-3 w3layouts_stats_left w3_counter_grid3">
                <i class="fa fa-user" aria-hidden="true"></i>
                <p class="counter">245</p>
                <h3>Dòng Sản phẩm</h3>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //stats -->
<!-- agile_testimonials -->
<div class="test">
    <div class="container">
        <h3 class="w3l_header w3_agileits_header">Khách Hàng nói về <span>Tân thời</span></h3>
        <p class="sub_para_agile two">Ipsum dolor sit amet consectetur adipisicing elit</p>

        <div class="agile_inner_grids">
            <div class="test-gri1">
                <div id="owl-demo2" class="owl-carousel">
                    <div class="agile">
                        <div class="test-grid">
                            <div class="col-md-8 test-grid1">
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                                <p class="para-w3-agile">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.
                                    Lorem ipsum dolor .
                                </p>
                                <h4>Steve Warner</h4>
                                <span>Lorem Ipsum</span>
                            </div>
                            <div class="col-md-4 test-grid2">
                                <img src="~/images/t1.jpg" alt="" class="img-r">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="agile">
                        <div class="test-grid">
                            <div class="col-md-8 test-grid1">
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                                <p class="para-w3-agile">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.
                                    Lorem ipsum dolor.
                                </p>
                                <h4>Andery</h4>
                                <span>Lorem Ipsum</span>
                            </div>
                            <div class="col-md-4 test-grid2">
                                <img src="~/images/t2.jpg" alt="" class="img-r">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="agile">
                        <div class="test-grid">
                            <div class="col-md-8 test-grid1">
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                                <p class="para-w3-agile">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.
                                    Lorem ipsum dolor .
                                </p>
                                <h4>Williams</h4>
                                <span>Lorem Ipsum</span>
                            </div>
                            <div class="col-md-4 test-grid2">
                                <img src="~/images/t3.jpg" alt="" class="img-r">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="agile">
                        <div class="test-grid">
                            <div class="col-md-8 test-grid1">
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                                <p class="para-w3-agile">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.
                                    Lorem ipsum dolor .
                                </p>
                                <h4>Shane Smith</h4>
                                <span>Lorem Ipsum</span>
                            </div>
                            <div class="col-md-4 test-grid2">
                                <img src="~/images/t4.jpg" alt="" class="img-r">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //agile_testimonials -->